/*
 * Customization Variables
 */

$accent: #FF0F00;
$image-size: 100px;

/*
 * Build Variables, don't touch
 */

$max-width: 1200px;   // 桌面端最大宽度
$med-width: 900px;    // 中等屏幕宽度
$small-width: 480px;  // 手机宽度
